# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
docker-compose.override.yml

# Typesense
typesense-data/

# Logs
logs
*.log
*.out
*.gz

# System
Thumbs.db
